.loadingWrapper {
  height: 100vh;
}

.loadingFormCol {
  width: 100%;
}

.loadingPageWrapper {
  margin: auto;
  margin-top: 40vh;
  width: 90%;
  text-align: center;
}

.loadingPageTitle {
  font: normal normal normal 50px poppins-semibold, poppins, sans-serif;
  letter-spacing: 1rem;
  margin-top: 0.5rem;
  color: #fd6b0b;
  font-size: 42px;
}
@media screen and (max-width: 767px) {
  .loadingPageTitle {
    font-size: 19px;
  }
}

.loadingAnimation {
  font-family: Helvatica, lato, sans-serif;
  font-size: 14px;
  margin: auto;
  font-weight: bold;
  margin-top: 3rem;
}

.cubeGrid {
  width: 40px;
  height: 40px;
  margin: 10px auto;
}

.loadingCube1 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loadingCube2 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loadingCube3 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loadingCube4 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loadingCube5 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loadingCube6 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loadingCube7 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loadingCube8 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loadingCube9 {
  width: 33%;
  height: 33%;
  background-color: #fd6b0b;
  float: left;
  -webkit-animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loadingCubeGridScaleDelay 1.3s infinite ease-in-out;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes loadingCubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes loadingCubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
